@using System.Text.Json
@using LugaPasal.Entities

@{
    var sessionCart = ViewContext.HttpContext.Session.GetString("Cart");
    var cart = string.IsNullOrEmpty(sessionCart)
                    ? new List<Cart>()
                    : JsonSerializer.Deserialize<List<Cart>>(sessionCart);
    var cartCount = cart.Sum(c => c.Quantity);

    var role = ViewContext.HttpContext.Session.GetString("Role");
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LugaPasal </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LugaPasal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AestheticX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase nav-bar-text-left" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase nav-bar-text-left" asp-area="" asp-controller="Product" asp-action="ListProducts">Browse</a>
                        </li>

                        <form asp-action="ListProducts" asp-controller="Product" method="get" class="d-flex w-75 ms-5 mt-md-0 ms-md-5" style="border-radius:19px/50%;">
                            <input type="text" name="searchString" style="font-size:13px;border-radius: 19px / 50%;letter-spacing: .4px;  " class="form-control" value="@Context.Request.Query["searchString"]" placeholder="Search for items and products" />
                            <button type="submit" class="btn">
                                🔍
                            </button>
                        </form>

                    </ul>
                    <ul class="navbar-nav flex-row-reverse ">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="rounded-circle me-2 shadow-sm"
                                         style="width:32px; height:32px; object-fit:cover;"
                                         src="~/images/icons/default.jpg"
                                         alt="Profile" />
                                    <span class="d-none d-md-inline" style="font-family: 'Poppins', sans-serif; font-weight:400; font-size:0.9rem;">
                                        @User.Identity.Name
                                    </span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end shadow border-0"
                                    aria-labelledby="profileDropdown"
                                    style="min-width: 200px; border-radius: 0.5rem;">

                                    <li>
                                        <a class="dropdown-item py-2" asp-action="Profile" asp-controller="User">
                                            <i class="bi bi-person me-2"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item py-2" asp-action="MyOrders" asp-controller="User">
                                            <i class="bi bi-bag me-2"></i> My Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item py-2" asp-action="GetOrders" asp-controller="User">
                                            <i class="bi bi-bell me-2"></i> Order Requests
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item py-2" asp-action="Analytics" asp-controller="User">
                                            <i class="bi bi-graph-up me-2"></i> Analytics
                                        </a>
                                    </li>
                                    @if (role == "Admin")
                                    {
                                        <li>
                                            <a class="dropdown-item py-2" asp-action="AddCoupons" asp-controller="Product">
                                                <i class="bi bi-ticket-perforated me-2"></i>  Coupons
                                            </a>
                                        </li>
                                    }
                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <a class="dropdown-item py-2 text-danger" asp-action="Logout" asp-controller="User">
                                            <i class="bi bi-box-arrow-right me-2"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item mx-1 mt-2">
                                <span class="text-secondary">|</span>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link text-dark text-uppercase nav-bar-text" asp-action="PostProduct" asp-controller="Product">Post Product</a>
                            </li>
                            <li class="nav-item mx-1 mt-2">
                                <span class="text-secondary">|</span>
                            </li>
                            <li class="nav-item mx-1">
                                <a class="nav-link text-dark text-uppercase nav-bar-text" asp-action="Favorites" asp-controller="User">Favorites</a>
                            </li>
                            <li class="nav-item mx-1 mt-2">
                                <span class="text-secondary">|</span>
                            </li>
                            @if (role == "Admin")
                            {
                                <li class="nav-item mx-1">
                                    <a class="nav-link text-dark text-uppercase nav-bar-text" asp-action="Dashboard" asp-controller="User">Dashboard</a>
                                </li>
                                <li class="nav-item mx-1 mt-2">
                                    <span class="text-secondary">|</span>
                                </li>
                            }



                            <li class="nav-item mx-3 mt-1">
                                <a class="nav-link text-dark position-relative" asp-controller="Product" asp-action="Cart">
                                    <i class="bi bi-cart3" style="font-size: 1rem;"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        @cartCount
                                    </span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-uppercase nav-bar-text-left" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-uppercase nav-bar-text-left" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="position-fixed top-0 start-50 translate-middle-x py-3" style="z-index:9999">
        <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div> 
        </div>
        <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["ErrorMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>
    <footer class="custom-footer border-top">
        <div class="py-4" style="background-color:black;">
            <div class="container text-center text-md-start">
                <div class="row">
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <span class="text-uppercase text-white" style="letter-spacing:0.6px;">Quick Links</span>
                        <div class="d-flex flex-column text-decoration-none">
                            <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-muted small text-special"> Home </a>
                            <a asp-controller="Product" asp-action="ListProducts" class="text-decoration-none text-muted small text-special"> Products </a>
                            <a asp-controller="User" asp-action="Register" class="text-decoration-none text-muted small text-special"> Register </a>
                            <a asp-controller="User" asp-action="Login" class="text-decoration-none text-muted small text-special"> Login </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <span class="text-uppercase text-white" style="letter-spacing:0.6px;">Products</span>
                        <div class="d-flex flex-column">
                            <form asp-action="ListProducts" asp-controller="Product" method="get">
                                <input type="hidden" name="category" value="Hoodie" />
                                <button type="submit" class="p-0 m-0 border-0 bg-transparent text-muted small text-special">
                                    Hoodie
                                </button>

                            </form>
                            <form asp-action="ListProducts" asp-controller="Product" method="get">
                                <input type="hidden" name="category" value="Shirts" />
                                <button type="submit" class="p-0 m-0 border-0 bg-transparent text-muted small text-special">
                                    Shirts
                                </button>
                            </form>
                            <form asp-action="ListProducts" asp-controller="Product" method="get">
                                <input type="hidden" name="category" value="Pants" />
                                <button type="submit" class="p-0 m-0 border-0 bg-transparent text-muted small text-special">
                                    Pants
                                </button>
                            </form>
                            <form asp-action="ListProducts" asp-controller="Product" method="get">
                                <input type="hidden" name="category" value="Bags" />
                                <button type="submit" class="p-0 m-0 border-0 bg-transparent text-muted small text-special">
                                    Bags
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <span class="text-uppercase text-white" style="letter-spacing:0.6px;">Contact Us</span>
                        <div class="d-flex flex-column">
                            <div class="d-flex gap-1">
                                <a href="www.instagram.com"><img src="~/images/icons/facebook.png" class="footer-social-icon" /></a>
                                <a href="www.twitter.com"><img src="~/images/icons/twitter.png" class="footer-social-icon" /></a>
                                <a href="www.instagram.com"><img src="~/images/icons/instagram.png" class="footer-social-icon" /></a>
                                <a href="www.daraz.com"><img src="~/images/icons/daraz.png" class="footer-social-icon" /></a>
                                <a href="www.youtube.com"><img src="~/images/icons/youtube.png" class="footer-social-icon" /></a>

                            </div>
                            <div class="d-flex mt-4 gap-2">
                                <a href="www.appstore.com"><img src="~/images/icons/appstore.png" /></a>
                                <a href="www.googlestore.com"><img src="~/images/icons/googlestore.png" /></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <span class="text-white">&copy; AestheticX 2025 - All Rights Reserved </span>


                    </div>
                </div>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded' ,function(){ //DOMContentLoaded: waits untill everything is loaded then only executes this function 
        @if(TempData["SuccessMessage"]!=null)
    {
        <text>
        var successToast= new bootstrap.Toast(document.getElementById("successToast"));
        successToast.show();
        </text>
    }
    @if(TempData["ErrorMessage"]!=null)
    {
        <text>
        var errorToast= new bootstrap.Toast(document.getElementById("errorToast""));
        errorToast.show();
        </text>
    }
    });
</script>
<style>
    html, body {
        height: 100%;
    }

    .toast {
        min-width: 300px;
    }
    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        z-index: 1050;
    }

    body {
        padding-top: 100px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navbar-brand {
        padding-left: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        color: #222;
        text-transform: uppercase;
    }

    .nav-bar-text {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        padding-bottom: 1px;
        margin-top: 0.25rem;
    }

    .nav-bar-text-left {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        padding-bottom: 1px;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    main {
        flex: 1;
    }

    .container {
        flex: 1 0 auto; /* Grows to fill space, doesn't shrink, auto basis */
    }

    .custom-footer {
        margin-top: auto;
        width: 100%;
        white-space: nowrap;
        line-height: 30px;
        background-color: white;
    }

    .footer-social-icon {
        width: 35px;
        height: 35px;
        transition: 0.3s ease;
        opacity: 0.9;
    }

        .footer-social-icon:hover {
            opacity: 1;
            transform: translateY(-3px);
        }


    .text-special {
        transition: 0.3s ease;
    }

        .text-special:hover {
            color: #d6d6d6 !important;
            transform: translateY(-2px);
        }

    .dropdown-menu {
        animation: fadeIn 0.2s ease;
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .dropdown-item {
        transition: background-color 0.2s ease;
    }

        .dropdown-item:hover {
            background-color: #f8f9fa;
        }
</style>
